:root {
    --primary-color: #1D2089;
    --secondary-color: #d15618;
}

.color-primary {
    color: var(--primary-color) !important;
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

.color-secondary {
    color: var(--secondary-color) !important;
}

.bg-secondary {
    background-color: var(--secondary-color) !important;
}

.btn-secondary {
    color: white !important;
    background-color: var(--secondary-color) !important;
    border-radius: 8px !important;
    border: 0px;
}

.btn-secondary:hover {
    color: white !important;
    background-color: var(--secondary-color) !important;
}

.text-header {
    color: white !important;
}

.text-header.active {
    font-weight: bold;
    color: var(--secondary-color) !important;
}

.text-header:hover {
    color: var(--secondary-color) !important;
}

.logo-navbar {
    width: auto;
    height: 40px;
}

.bg-section {
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    height: 600px;
    width: 100%;
}